.canvas{
    background-color: black;
}

a {
    color: white;
    al
}

.maintext{
    color: white;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}