@font-face{
    font-family: google;
    src:url(https://fonts.googleapis.com/css2?family=Staatliches&display=swap)
}

h1 {
    font-family: 'Staatliches', sans-serif;
    font-size: 75px;
    text-align: center;
    padding: 40px 42px 0px 42px
}

.canvas{
    background-color: black;
}

.maintext{
    color: white;
}
  
li a {
    display: block;
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px 12px 0px 12px;
    text-decoration: none;
}

.collage {
    width: 600
}