@font-face{
    font-family: google;
    src:url(https://fonts.googleapis.com/css2?family=Staatliches&display=swap)
}

h1 {
    font-family: 'Staatliches', sans-serif;
    font-size: 60px;
    text-align: center;
    padding: 40px 0px 0px 0px;
}

.canvas{
    background-color: black;
}

.maintext{
    color: white;
}
  
li a {
    display: block;
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px 7px 0px 5px;
    text-decoration: none;
    font-family: 'Staatliches', sans-serif;
}

li a:hover {
    color: orange;
}

li img{
    width: 40px;
    height: 40px;
}

.collage {
    width: 1425px;
    height: 550px;
}

h3 {
    word-spacing: 140px;
    font-size: 45px;
    text-align: center;
    font-family: 'Staatliches', sans-serif;
}

.tabs{
    width: 470px;
    height: 375px;
}